body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    color: #333;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    margin-right: 5px;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

.tab-content {
    display: none;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
}

.sub-tabs {
    display: flex;
    margin-bottom: 20px;
}

.sub-tab-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    margin-right: 5px;
}

.sub-tab-button:hover {
    background-color: #e0e0e0;
}

.sub-tab-content {
    display: none;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #28a74e;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #28a74e;
}
